<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">

  <link rel="manifest" href="./manifest.webmanifest">
  <link rel="shortcut icon" href="./favicon.png">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.js@{{instantsearchVersion}}/dist/instantsearch.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.js@{{instantsearchVersion}}/dist/instantsearch-theme-algolia.min.css">
  <link rel="stylesheet" href="./src/app.css">

  <title>{{appName}}</title>
</head>

<body>
  <div class="container">
    <header>
      <h1>{{appName}}</h1>
      <p>Welcome to InstantSearch.js.</p>
    </header>

    <p>Start editing <code>src/app.js</code> and see changes happening!</p>

    <div id="searchBox"></div>

    <div class="twoColumns">
      <div id="brand"></div>
      <div id="hits"></div>
    </div>

    <div id="pagination"></div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@{{instantsearchVersion}}/dist/instantsearch.min.js"></script>
  <script src="./src/app.js"></script>
</body>

</html>
