import algoliasearch from 'algoliasearch';

const client = algoliasearch('{{appId}}', '{{apiKey}}');
const index = client.initIndex('{{indexName}}');

const $searchBox = document.querySelector('#searchBox input[type=search]');
const $hits = document.querySelector('#hits');

function renderHits(query) {
  index.search(query).then(result => {
    $hits.innerHTML = `
      <ul>
        ${result.hits
          .map(hit => {{#if mainAttribute}}`<li>${hit._highlightResult.{{mainAttribute}}.value}</li>`{{else}}`<li>${JSON.stringify(hit)}</li>`{{/if}})
          .join('')}
      </ul>`;
  });
}

$searchBox.addEventListener('input', event => {
  const query = event.target.value;

  renderHits(query);
});

document.addEventListener('DOMContentLoaded', () => {
  renderHits('');
});
